*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'century gothic';

}
.logo{
    display: inline-flex;
    align-items: center;
    color: white;
    padding: 0 30px 0 30px;
}
.logo h4{
    font-size: 1.5em;
    text-shadow: 0 0 20px rgba(0,0,0,0.6);
    font-weight: 600px;
}
nav{
    padding: 0;
    margin: 0;
    width: 100%;
    background-color: rgb(63,71,204);
    display: flex;
    padding: 5px;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.3);
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 600;
}
nav ul li:hover{
    background-color: white;
}
nav ul li:hover a{
    color: rgb(63,71,204);
} 
#dropdown{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 185px;
    display: none;
    visibility: hidden;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.3);
}

nav ul li ul#dropdown{
    display: block;
    margin-top: 15px;
    margin-left: -19px;
    position: absolute;
    background-color: rgb(63,71,204);
    transition: all 0.2s ease-in-out;
}
ul#dropdown li{
    display: block;
    padding: 10px 20px;
    text-decoration: none;
}
ul#dropdown li a{
    color: white; 
    font-weight: bold; 
}
ul#dropdown li:hover{
    background-color: white;
    color: rgb(63,71,204); 
}
ul#dropdown li:hover a{
    color: rgb(63,71,204);
}
ul li:hover #dropdown{
    visibility:visible;
    display: block;
}
li ul#dropdown2{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 185px;
    display: none;
    visibility: hidden;
    background-color: rgb(63,71,204);
    transition: all 0.3s ease-in-out;
}
nav ul li ul#dropdown li ul#dropdown2 li a{
    color: white;
}
nav ul li ul#dropdown li ul#dropdown2 li:hover a{
    background-color: white;
    color: rgb(63,71,204);
}
#dropdown li:hover ul#dropdown2{
    position: absolute;
    left: 185px;
    margin-top: 6px;
    display: block;
    visibility: visible;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.3);
}

.fas, .fab{
    margin-right: 5px;
}
.fa-caret-right{
    float: right;
}
.fa-caret-down{
    margin-left: 5px;
}