/*==== Google Font 'Zill Slab' URL ====*/

@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@1,500&display=swap');

/*==== Body Section ====*/

*,::after,::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #B591CF;
    font-family: 'Zilla Slab', serif;
}



/*==== Container ====*/
.container{
    position: absolute;
    width: 90%;
    height: 90%;
    background-color: #332f9f;
    box-shadow: 0 0 20px #332f9f;

}


/*==== Navigation bar ====*/
.container .navbar{
    position: absolute;
    display: flex;
    top: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
}
.logo{
    display: inline;
    position: absolute;
    left: 0;
    color: white;
    width: 150px;
}
.logo p{
    position: relative;
    text-align: center;
    font-size: 1.5em;
    padding: 10px 25px;
}
nav{
    position: absolute;
    right: 0;
    display: inline;
    height: inherit;
}
nav a,nav button{
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 25px;
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    outline: none;
    border: none;
    height: 40px;
    font-weight: 400;
    width: 150px;
    font-family: 'Zilla Slab', serif;
}
nav button{
    background-color: #AE3D55;
}
/*==== Content Box ====*/
.contentBox{
    grid-template-columns: repeat(2,max-content);
    grid-template-rows: 1fr;
    grid-gap: 0;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

/*==== Text Box ====*/
.textBox{
    display: block;
    color: #fff;
    width: 45%;
    padding: 10rem 0 0 3rem;
}
.textBox h2{
    font-size: 1.7em;
    font-weight: 600;
    color: #C48E5D;
}
.textBox p{
    text-align: justify;
}
.textBox button{
    margin-top: 15px;
    padding: 10px 25px;
    font-size: 1rem;
    font-weight: bold;
    height: 40px;
    line-height: 10px;
    color: #A07ABC;
    cursor: pointer;
    font-family: 'Zilla Slab', serif;
}
/* ==== BG Image =====*/
.image{
    width: 45%;
    height: 45%;
}
.image img{
    position: absolute;
    right: 10px;
    bottom: 0 !important;
    width: 450px;
    height: auto;
}
/*==== Aniamated Images ====*/
#dot{
    position: absolute;
    left: 50%;
    bottom: 5px;
    animation: circle 2s ease-in-out infinite;
    transition: all 1s; 
}
.dot1, .dot2{
    width: 70px;
    height: 70px;
}
.dot1 img, .dot2 img{
    width: inherit;
    height: inherit;
}
.dot2{
    margin-left: 13px;
    margin-top: -67px;
    transform: rotate(180deg);
}

/* ==== Animation ==== */
@keyframes circle{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}